<div class="container">
  <form>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Total</label>
      <div class="col-sm-10">
        <label for="inputEmail3" class="col-sm-2 col-form-label">12</label>
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              Visa / Master
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              Bank Payment
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
            <label class="form-check-label" for="gridRadios3">
              Cash On Delivery
            </label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </form>
</div>


<form>
  <a class="flwpug_getpaid" 
  data-PBFPubKey="FLWPUBK-24b72aebb821aea177483039677df9d3-X" 
  data-txref="rave-123456" 
  data-amount="2000" 
  data-customer_email="user@example.com" 
  data-currency="NGN" 
  data-pay_button_text="Pay Now" 
  data-country="NG" 
  data-redirect_url="https://your-website.com/urlredirect">Pay</a>
  <script type="text/javascript" src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>

</form>

<form>
  <a class="flwpug_getpaid" 
  data-PBFPubKey="FLWPUBK-24b72aebb821aea177483039677df9d3-X" 
  data-txref="rave-123456" 
  data-amount="2000" 
  data-customer_email="user@example.com" 
  data-currency="NGN" 
  data-pay_button_text="Pay Now" 
  data-country="NG" 
  data-redirect_url="https://your-website.com/urlredirect"></a>

  <script type="text/javascript" src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
</form>