<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="home">YaalBuy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/product" routerLinkActive="active">Products</a>
        <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
        <a class="nav-item nav-link" href="#">Categories</a>
      </div>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
      <div class="btn-group navbar navbar-light bg-light">
          <a *ngIf="currentUser?.displayName" class="navbar-brand dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              <img src="{{currentUser?.photoURL}}" width="30" height="30" class="d-inline-block align-top" alt="">
              {{currentUser?.displayName}}
            </a>
            <a *ngIf="currentUser?.displayName==undefined" class="navbar-brand dropdown-toggle" routerLink="/signin" routerLinkActive="active">SignIn</a>
          <div class="dropdown-menu bg-light">
            <a class="dropdown-item " routerLink="user/profile" routerLinkActive="active">Profile</a>
            <a class="dropdown-item"  routerLink="user/mypurchase">My Purchase</a>
            <a class="dropdown-item"  routerLink="user/mycard">My Card <span class="badge badge-secondary">2</span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="firebaseSignout()">SignOut</a>
          </div>
        </div>
        
    
  </nav>
  <div style="text-align:center">
      <h1>
          Welcome to {{ title }}!
      </h1>
  </div>
  <router-outlet></router-outlet>
